/* Home Page Dashboard */
.Dashboard{
  width: 100%;
  height: 600px;
  box-sizing: border-box;
}
.left-body-dashboard{
width: 13%;
}
.center-body-dashboard{
  width: 87%;
}
/* Menu dashboard */
.body-Dashboard{
  display: flex;
}
.MenuDasboard{
  width: 100%;
  height: 600px;
  font-size: 20px;
  background-color: #616161!important;
  color: white;
  padding-top: 50px;
}
.link-dashboard{
  text-decoration: none;
  display: flex;
  margin-left: 10%;
  margin-top: 30px;
}
.icon-menu{
  font-size: 36px;
  color: white;
}
.item-menu{
  color: white;
}
/* Add Parking*/
.body-addParking{
  width: 60%;
  margin-left: 20%;
  text-align: center;
}
.title-addParking{
  margin-top: 20px;
}
.form-addParking{
  box-sizing: border-box;
}
.input-addParking{
  width: 80%;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid skyblue;
  outline: none;
  border-radius: 2%;
}
.description{
  height: 100px;
}
.btn-addParking{
  border: none;
  margin-top: 20px;
  width: 60%;
  height: 1cm;
  outline: none;
  background-color: cyan;
  font-size: 24px;
  color: black;
}
.btn-addParking:hover{
width: 65%;
height: 1.2cm;
color: red;
font-size: 26px;
}
.error-addParking{
  font-size: 24px;
  color:red;
}
/* PARKING */
.table-parking{
  box-sizing: border-box;
  border: 2px solid #616161;
  width: 80%;
  margin-top:50px;
margin-left: 10%;
text-align: center;
border-collapse: collapse;
}
.row-table{
  box-sizing: border-box;
  border-top: 1px solid #616161;
 height: 60px;
}
.row-table:hover{
  background-color: #f5f5f5;
}
.content-table{
  border-bottom: 1px solid #ddd;
}
.btn{
  height: 0.9cm;
  width: 100px;
  border:none;
  outline:none;
  font-size: 24px;
}
.btn-delete{
  background-color: red;
  color:white;

}
.btn-update{
  background-color: skyblue;
  color:white;
}